@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AU+SA:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image:
        linear-gradient(90deg, rgba(0, 187, 255, .4), rgba(0, 0, 255, .5)),
        linear-gradient(180deg, rgba(0, 190, 44, .5), rgba(255, 0, 217, .5)),
        linear-gradient(270deg, rgb(190, 0, 187), rgb(190, 222, 63));

    background-repeat: no-repeat;
    background-size: cover;
    font-family: "DM Sans", serif;
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: aqua;
    font-weight: 900;
}

.card {
    background-color: aquamarine;
    width: 250px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    text-align: center;
    color: black;
    font-weight: 500;
}